$default-theme: (
        "name": "Default",
        "font": "'Libre Baskerville', serif",
        "background-color": #ece6cd,
);

$natural-theme: (
        "name": "Natural",
        "font": "'Bitter', serif",
        "background-color": #e1d798,
);

@mixin applyTheme($theme: $default-theme){
  $font: map-get($theme, "font");
  $background-color: map-get($theme, "background-color");

  .bg-default{
    background-color: $background-color;
    #app{
      background-image: none;
      background-color: $background-color;
    }
  }

  div.v-application{
    font-family: $font;
    background-color: $background-color;
    a{
      color: var(--v-secondary-base);
      text-decoration-color: var(--v-secondary-base);
    }
  }
}

.default{
  @include applyTheme($default-theme);
}

.natural{
  @include applyTheme($natural-theme);
}


.bg-striped-green{
  #app{
    background-image: url("../assets/Stripes Green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.bg-striped-blue{
  #app{
    background-image: url("../assets/Stripes Blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.bg-flowers-blue{
  #app{
    background-image: url("../assets/Flowers Blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}